.open-sans-normal-fonts {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.headerIMG {
    margin-left: 30px;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 100px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    margin-left: 100px;

}

.dark2 {
    color: #474747;
}

.button-clr {
    background-color: #FD6E0A;
    border: none;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;

}

.change-clr {
    color: #FD6E0A;
}

/* From here the bannner related work's started */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-title {
    margin-top: 0px;
    font-size: 85px;
    font-weight: bold;
}

.banner-content {
    max-width: 500px;
}

.DownloadCv {
    margin-top: 10px;
    background-color: #FD6E0A;
    border: none;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 15px;

}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About me section */
.Aboutmesec {
    text-align: center;
}

.Aboutme {
    margin-top: 150px;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}

.AboutMeDes {
    margin-top: 50px;
    color: #474747;
    font-size: 20px;
}
.AboutItems{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
.about-item{
    margin-left: 0px;
  
}
.item-title{
    color: #474747;
    font-size: 20px;
}
.item-description{
    font-weight: bold;
    font-size: 17px;

}
/* What i do section started */
.whatIdo{

    text-align: center;
}

/* skill div started */

.skill-container{
    margin-top: 100px;
    display: flex;
    gap: 24px;
}
.skills{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.title{
    font-size: 20px;
}
.des{
    color: #474747;
}
/* Resume div started here */
.summary-title{
    text-align: center;
    margin-top: 150px;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 90px;
}
.resume-container{
display: flex;
justify-content: space-evenly;
gap: 30px;
}
.Downloadbtn{
    margin-top: 35px;
    text-align: center;
}
/* Footer section started from here */
.footer-sec{
    margin-top: 90px;
}
.footer-div{
    display: flex;
}